:root
{
	--corCabecalho: #0eabdb;
	--corFundoSite: #e0e7e6;
	--corTitulo:#127bc7;
}
*
{
	padding: 0;
	margin: 0;
	font-family:roboto;
}
body
{
	background-color: var(--corFundoSite);
}

#Area-Cabecalho
{
	position: fixed;
	display: flex;
	top: 0;
	width: 100vw;
	background-color:var(--corCabecalho);
	background-image: url(../img/mobile/logo.png);
	background-size: 40vw;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 80px;
	z-index: 1;
}

#Area-Menu-button
{
	display: flex;
	align-items: center;
	width: 20vw;
	height: 80px;
	transition: background 1s;
	transition: width 0.3s;
}
#Menu-button__input
{
	display: none;
}

#Menu-button__img
{
	height: 8vw;
	margin-top: 2vw;
	width: 11vw;
	margin-left: 4.5vw;
	cursor: pointer;
}
#Area-Menu
{
	position: absolute;
	left: -60vw;
	width: 60vw;
	height: 100vh;
	top: 80px;
	background-color:white;
	font-size:25px;
	text-align: center;
	transition: left 0.3s;
}

#Area-Menu-principal
{
	padding-top: 20px;
	font-weight: 700;
}
.Menu-principal__item,
.Menu-submenu__item
{
	display: block;
	text-decoration: none;
	color: black;
	padding: 1vh;
	background-color: white;
}
.Menu-principal__item:hover
{
	background-color: var(--corCabecalho);
}
#Area-Menu-principal li:hover #Area-Menu-submenu
{
	display: block;
}
#Area-Menu-submenu
{
	font-weight: normal;
	margin-left: 10px;
	display: none;
}
.Menu-submenu__item:hover
{
	background-color: var(--corCabecalho);
}
#topo
{
	margin-bottom: 100px;
}
#Area-Conteudo
{
	display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
	word-break: break-all;
}

.Area-Destaques-destaque,
.Area-Inovacao-noticia,
.Area-Mundovirtual-noticia
{
	width: 98vw;
}
.Area-Destaques-destaque-image
{
	position: relative;
}
.Destaques-destaque__img,
.Inovacao-noticia__img,
.Mundovirtual-noticia__img
{
	width: 98vw;	
}
.Destaques-destaque__legenda,
.Inovacao-noticia__legenda
{
	position: absolute;
	word-wrap:break-word;
	background-color: blue;
	width: 80%;
	padding: 5px;
	color: white;
	top: 70%;
}
#Area-Inovacao
{
	margin-top: 10vw;
}
.Area-Inovacao-noticia
{
	position: relative;
}
.Inovacao-noticia__legenda
{
	background-color: red;
}
#Area-MundoVirtual
{
	margin-top: 10vw;
}
#Area-Mundovirtual-noticia
{
	margin-top: 5vw;
}
.Mundovirtual-noticia__titulo
{
	color: var(--corTitulo);
	text-transform: uppercase;
}
.Mundovirtual-noticia__legenda
{
	padding: 5px 0px;
}
#Area-Listas
{
	margin-top: 8vw;
	margin-bottom: 2vw;
}
#Area-Listas__titulo
{
	color: var(--corTitulo);
	margin-bottom: 3vw;
}
.Listas-lista__titulo
{
}
.Listas-lista_descricao
{
	word-break: break-all;
}
#Area-Cultura,
#Area-Artes
{
	display: flex;
	gap: 16px;
	
	width: 98vw;
	flex-direction: column;
	justify-content: left;
	align-items: left;
}
.Cultura-artigo__img,
.Arte-artigo__img
{
	width: 50vw;
	float: left;
	margin-right: 4vw;
}
#Clean
{
	clear: both;
}
#Area-Cultura__titulo,
#Area-Artes__titulo
{
	color: red;
	text-transform: uppercase;
	width: 50vw;
	text-align: center;
}

.Cultura-artigo__titulo
{
	text-transform: uppercase;
}
.Cultura-artigo__legenda,
.Arte-artigo__legenda
{
	margin-top: 1.5vh;
}

#Area-Publicidades
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 8vw 0vw;
	height: 50vh;
}

.Publicidades-publicidade__titulo
{
	text-align: right;
	font-size: 4vw;
}
.Publicidades-publicidade__img
{
	width: 60vw;
}
#Area-VoltarAoTopo
{
	background-color: blue;
	padding: 2vw;
	height: 5vw;
}
#Area-Voltaraotopo-button
{
	float: right;
	padding-left: 2vw;
}
#Voltaraotopo-button__input
{
	display: none;
}
#Voltaraotopo-button__texto
{
	text-align: right;
	font-family: arial;
	color: white;
}
#Area-Rodape
{
	background-color: black;
}
#Area-Rodape__texto
{
	word-break: break-all;
	color: white;
	padding: 4vw;
	font-size: 0.8em;
}
