:root
{
	--corCabecalho: #0eabdb;
	--corFundoSite: #e0e7e6;
	--corTitulo:#127bc7;
}
*
{
	padding: 0;
	margin: 0;
	font-family:roboto;
}
body
{
	background-color: var(--corFundoSite);
}

#Area-Cabecalho
{
	width: 100%;
	background-color:var(--corCabecalho);
	background-image: url(img/mobile/logo.png);
	background-size: 	50%;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 18vh;
}

/**/
#Area-Menu
{
	width: 50vw;
	position: relative;
}
#menu-button__input
{
	display: none;
}
.menu-button__img
{
	position: absolute;
	height: 10vw;
	width: 10vw;
	cursor: pointer;
	z-index: 2;
  	margin-top: 7vh;
	margin-left: 2vh;
}
#menu-button__input:checked ~ #Menu
{
	transform: translateX(60vw);
}
#Menu
{
	z-index: 1;
	position: absolute;
	width: 60vw;
	top: 0;
	padding-top: 18vh;
	left: -60vw;
	height:90vh;
	background-color: white;
	transition: transform 0.3s;
	font-size:25px ;
}

.menu-principal
{
	padding-top: 20px;
}
.menu-principal
{
	font-weight: 700;
}
.menu-principal__item,.menu-submenu__item
{
	display: block;
	text-decoration: none;
	color: black;
	padding: 1vh;
	background-color: white;
}
.menu-principal__item:hover
{
	background-color: var(--corCabecalho);
}
.menu-principal li:hover .menu-submenu
{
	display: block;
}
.menu-submenu
{
	font-weight: normal;
	margin-left: 10px;
	display: none;
}
.menu-submenu__item:hover
{
	background-color: var(--corCabecalho);
}
/**/	
#Area-Conteudo
{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	word-wrap:break-word;

}
.destaques-destaque,.inovacao-noticia,.mundovirtual-noticia
{
	width: 90vw;
}
.destaques_destaque-imagediv
{
	position: relative;
}
.destaques-destaque__img,.inovacao-noticia__img,.mundovirtual-noticia__img
{
	width: 90vw;	
}
.destaques-destaque__legenda,.inovacao-noticia__legenda
{
	position: absolute;
	word-wrap:break-word;
	background-color: blue;
	width: 80%;
	padding: 5px;
	color: white;
	top: 70%;
}
#Area-Inovacao
{
	margin-top: 10vw;
}
.inovacao-noticia
{
	position: relative;
}
.inovacao-noticia__legenda
{
	background-color: red;
}
#Area-MundoVirtual
{
	margin-top: 10vw;
}
.mundovirtual-noticia
{
	margin-top: 5vw;
}
.mundovirtual-noticia__img
{

}
.mundovirtual-noticia__titulo
{
	color: var(--corTitulo);
	text-transform: uppercase;
}
.mundovirtual-noticia__legenda
{
	padding: 5px 0px;
}
#Area-Listas
{
	margin-top: 8vw;
	margin-bottom: 2vw;
}
#Area-Listas__titulo
{
	color: var(--corTitulo);
	margin-bottom: 3vw;
}
.listas-lista__titulo
{
}
.listas-lista_descricao
{
	word-break: break-all;
}
#Area-Cultura,#Area-Arte
{
	margin: 8vw 0vw;
}
#Area-Cultura__titulo,#Area-Arte__titulo
{
	color: red;
	text-transform: uppercase;
}
.cultura-artigo,.arte-artigo
{
	clear: both;
	padding:4vh 0vw ;
}
.cultura-artigo__img,.arte-artigo__img
{
	width: 50vw;
	float: left;
	margin-right: 4vw;
}
.cultura-artigo__titulo
{
	text-transform: uppercase;
}
.cultura-artigo__legenda,.arte-artigo__legenda
{
	margin-top: 1.5vh;
}
#Clean
{
	clear: both;	
}
#Area-Publicidades
{
	margin: 8vw 0vw;
}
.publicidades-publicidade
{
	width: 80vw;
	margin-left: 50%;
	transform: translateX(-50%);
}
.publicidades-publicidade__titulo
{
	text-align: right;
	font-size: 4vw;
}
.publicidades-publicidade__img
{
	width: 80vw;

}

#Area-Rodape
{
	position: absolute;
	align-items: center;
	background-color: black;
}
#Area-Rodape__texto
{
	word-break: break-all;
	color: white;
	padding: 4vw;
}
#Area-VoltarAoTopo
{
	background-color: blue;
	padding: 2vw;
	height: 5vw;
}
#voltaraotopo__texto
{
	text-align: right;
	font-family: arial;
	color: white;
}
#voltaraotopo-button
{
	float: right;
	padding-left: 2vw;
}
#voltaraotopo-button__input
{
	display: none;
}